p {
   font-family: 'Times New Roman', Times, serif;  
}

footer {
   background-color:#343a40;
   bottom: 0;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 600;
   
   height: 5vh;
   position: fixed;
   padding-top: 15px;
   text-align: center;
   width: 100vw;
}

h5 {
   color: white;
}
